body{
    border: 1px solid black;
    width: 50%;
}

.document{
    font-size: 120%;
    font-weight: inherit;
    font-family: Arial;
    margin-left: 10px;
}

p{
    text-align: justify;
    padding-right: 10px;
}

p b .align{
    color: black;
}
sup{
    color: blue;
    font-size: 8px;
}

.noun{
    color: #321E83;

}

.blue{
    color: #499FDB;
}